body{
	background: #242429;

}

.current-profile {
	width: 20%;
	margin-right: 10px;
}

#welcome{
 margin: 20px 0 0 17px;
}

#welcome a{
	font-size: 1.75em;
	color: #fff;
}

.reveal-modal p{
	font-size: 1.2em;
	margin-bottom: 30px;
}

.reveal-modal li{
	list-style: none;
}

.rec, .pwr {
	margin-top: 25px;
}

.pwr {
	margin-left: 5px;
}

#panel1 {
	padding: 14px;
}

#maincontrol {
	padding: 10px 15px;

}

.orbit-container{
	height: 400px;
}


.icons {
	width: 30%;
}

#searchbar {
	
	margin: 0;
}

#searchbar img{
	
	width:70%;
	padding: 0;
	margin: 5px 15px 0 0;
}

#right-label {
	width: 260px;
	margin: 10px 0 0 10px;

}

.profile {
	width: 30%;
}

#panel4 li{
 list-style: none;
 font-size: 2em;
}

#panel4 a{
	color: grey;
}

#panel4 a:hover{
	color: black;
}

.accordion {
	margin-bottom: 50px;
}