body{
	background: #665f66;
}

.rec, .pwr {
	margin-top: 15px;
}

.pwr {
	margin-left: 5px;
}

#panel1 {
	padding: 14px;
}

#maincontrol {
	padding: 10px 15px;

}

.orbit-container{
	height: 400px;
}


.icons {
	width: 30%;
}

#searchbar {
	margin: 10px 0 -10px 25px;
}

#right-label {
	width: 180px;
}

.profile {
	width: 40%;
}

#panel4 li{
 list-style: none;
 font-size: 2em;
}

#panel4 a{
	color: grey;
}

#panel4 a:hover{
	color: black;
}

.accordion {
	margin-bottom: 50px;
}